
  <div>
    <div class="one-quarter-column">

              <div id="wrapper">
                      <div>
                              <div class="head">
                                  <h1><%= @property.address %></h1>
                              </div>

                              <div class="prop-column">
                                    <div class="property-desc">
                                      Amount Owed:
                                    </div>
                                    <div class="property-desc">
                                      Estimated value:
                                    </div>
                                    <div class="property-desc">
                                      Minimum Bid:
                                    </div>
                                    <div class="property-desc">
                                      Use Code:
                                    </div>
                                    <div class="property-desc">
                                      Bedrooms:
                                    </div>
                                    <div class="property-desc">
                                      Baths:
                                    </div>
                                    <div class="property-desc">
                                      SqFt:
                                    </div>
                                    <div class="property-desc">
                                      Lot Size:
                                    </div>
                                    <div class="property-desc">
                                      Parcel Number:
                                    </div>
                                    <div class="property-desc">
                                      Name:
                                    </div>
                                    <div class="property-desc">
                                      Legal Description:
                                    </div>
                                </div>
                        </div>
              </div>
      </div>



      <div class="three-quarter-column">
            <div id="map" style='width: 800px; height: 400px;'></div>
            <!-- <div id="map-canvas" style='width: 200px; height: 100px;'></div> -->
      </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGwFAgG_E78rHdI3ndmwym-7x8RA5Fn_g&callback=initMap"
    async defer></script>



<script type="text/javascript">
    var myScroll;
    $(document).ready(function() {

        myScroll = new IScroll('#wrapper', {
          zoom: true,
          mouseWheel: true
        })
    });


      coords = { lat: parseFloat( <%= @marker[0] %> ) , lng: parseFloat( <%= @marker[1] %> ) }

      var map;
      function initMap() {
        // coords = { lat: parseFloat(map_hash[0].lat) , lng: parseFloat(map_hash[0].lng) }

        map = new google.maps.Map(document.getElementById('map'), {
          center: coords,
          zoom: 11
        });

        // var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), panoramaOptions);
        //
        // var controlDiv = document.getElementById("map-");
        //
        // var mapControl = new google.maps.Map(controlDiv, {
        //       zoom: 16,
        //       center: myLatlng,
        //       mapTypeId: google.maps.MapTypeId.ROADMAP,
        //       draggable: true,
        //       mapTypeControl: false,
        //       zoomControl: false,
        //       rotateControl: false,
        //       scaleControl: false,
        //       panControl: false,
        //       streetViewControl: false
        //   });

        var marker = new google.maps.Marker({
          position: coords,
          map: map,
          title: 'Hello World!'
        });

      // var panorama = new google.maps.StreetViewPanorama(
      // document.getElementById('map'), {
      //   position: coords,
      //   pov: {
      //     heading: 34,
      //     pitch: 10
      //   }
      // });
      }


</script>
