<div id="wrapper2">
	<div id="scroller"></div>
</div>

<div class="starfield" id="starfield1">
	<div id="stars1"></div>
</div>

<div class="starfield" id="starfield2">
	<div id="stars2"></div>
</div>
