.index-main {
  padding-top: 44px;
  position:relative;
  z-index: 1;
}

#map-all {
  width: 100%;
  height: 100%;
  background-color: olivedrab;
  box-sizing: border-box;
  z-index:2;
}

.main-map {
  width: 50%;
  height: 94vh;
  float: left;
  position: fixed;
}

.prop-list {
  position: relative;
  width: 50%;
  float: right;
  box-sizing: border-box;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, .5);
  z-index:4;
}

.prop-indiv {
  margin: 1px;
  box-sizing: border-box;
  width: 49%;
  position: relative;
  float: left;
}

.prop-img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.prop-tile-head {
  position: absolute;
  top: 0;
  color:#e6e6e6;
  // text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.prop-tile-details {
  position: absolute;
  bottom: 0;
  color:#e6e6e6;
  // 6px 6px 0px rgba(0,0,0,0.2);
}
