<div style="position: relative;" >

    <div id="beach_scene">
    	<div id="scroller"></div>
    </div>

    <div class="birds" id="birds">
    	<div id="birds_here"></div>
    </div>

    <div class="trees" id="trees">
    	<div id="trees_here"></div>
    </div>

</div>
